.screen {
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    text-align: center;
    overflow: hidden;
}

.programmIcon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    top: 40%;
    margin: 0 20px;
    border-style: none;
    font-size: 20px;
}
#programmIcon1 {
    background-color: lightcyan;
}

#programmIcon2 {
    background-color: lightgreen;
}

#programmIcon3 {
    background-color: lightcoral;
}

.programmFunction {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: relative;
    top: 5%;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-top:30px;
    border-style: none;
    font-size: 30px;
}

.dockFunction {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: relative;
    top: 5%;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-top:30px;
    border-style: none;
    font-size: 30px;
    display: none;
}

#reopenpr1{
    background-color: lightblue;
}

#reopenpr2{
    background-color: lightgreen;
}

#reopenpr3{
    background-color: lightcoral;
}

.programmWindow {
    display: none;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.taskbar {
    position: relative;
    background-color: white;
    alignment: center;
}

.dock {
    position: absolute;
    top: 80%;
    background-color: white;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

#programmWindow1 {
    background-color: lightcyan;
}

#programmWindow2 {
    background-color: lightgreen;
}

#programmWindow3 {
    background-color: lightcoral;
}